{% extends 'product_list_base.html'%}
{% load i18n %}
{% load static %}

{% block breadcrumb_part %}
  <li>
    <a href="{% url 'core:home' %}">{% trans "Accueil" context 'Category breadcrumbs home' %}</a>
  </li>
  {% for ancestor in object.get_ancestors %}
    <li><a href='{{ ancestor.get_absolute_url }}'>{{ ancestor.name }}</a>
    </li>
  {% endfor %}
  <li><a href='{{ object.get_absolute_url }}'>{{ object.name }}</a></li>
{% endblock %}

<!-- {% block filters %}
  {% include 'etrans/includes/filters.html' with category=object %}
{% endblock filters %} -->

